body {
    margin: 0;
    font-family: 'Barrio', cursive;
    border-top: 25px solid #303F9F;
}

.slideshow {
    position: relative;
    width: 768px;
    height: 320px;
    margin: auto;
    border-top: 25px;
}

.slideshow .slide {
    position: absolute;
    width:100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.slideshow .slide.offset {
    top: 10px;
    height: 94%;
    width: 75%;
    overflow: hidden;
    opacity: .5;

}

.slideshow .slide.offset.right{

    left: 500px;

}

.slideshow .slide.offset.left{

    right: 500px;

}


.slideshow .slide.active {

    opacity: 1;

}

.slideshow-link {

    text-decoration: none;

}

.slideshow .slide a {

    display: block;

}

.slideshow .slide p {

    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(100, 100, 100,.2);
    padding: 19px 0 19px 5px;
    margin: 0;

}

.slideshow-controls {
    
    margin-top: 10px;
    text-align: center;

}

.slideshow-wrapper {

    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    background-color: currentColor;

}

.box-shadow:after {
    content: "";
    width: 100%;
    height: 1px;
    margin-top: -1px;
    display: block;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
}

.col.empty{

    height: 25px;

}

.col.controls {

    padding: 60px;  

}